################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.suo
*.v2
*.wsuo
*.json
*.sqlite
*.dll
*.pdb
*.cache
  # Ignore compiled files
*.dll
*.pdb

# Ignore user-specific files
.vscode/
/bin/
/obj/
# Ignore cache files
.cache/
node_modules/
*.log
/RepoPattern/RepoPattern.Api/obj/Debug/net6.0/refint/RepoPattern.Api.dll
