################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.suo
*.v2
*.wsuo
*.json
*.sqlite
*.dll
*.pdb
*.cache
 
/RepoPattern/RepoPattern.Api/RepoPattern.Api.csproj
/RepoPattern/RepoPattern.sln
/RepoPattern/RepoPattern.Api/obj/Debug/net6.0/RepoPattern.Api.pdb
