################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.v2
*.suo
*.json
*.pdb
/.vs/slnx.sqlite
/.vs/slnx.sqlite
*.suo
*.user
_ReSharper.*
bin
obj
packages
**/bin/*
**/obj/*
/.vs/
/.vs/slnx.sqlite